.fenye{    
    height: 25px;
    line-height: 25px;
    _background: #F9F9F9;
    padding: 2px 5px;
    margin: 20px 4px;
    _border: solid 1px #ccc;
    _text-align: center;
}

.fenye a{
    padding:4px 6px 4px 6px;
    margin:0 2px 0 2px;
    border:1px solid #aaa;
    text-decoration:none;
    color:#333;
}

.fenye a.current{    
    background:#ff6f3d;    
    color:#fff;
}

.fenye a:hover{
    background:#ff6f3d;
    color:#fff;
}

/*-- footer --*/
.footer {
    width:100%;
    height:64px;
    background:#E6E9ED;
    border-top: 1px solid #e2e2e3;
}


/*-- post --*/
.post {
    background:none;
}

.post .entry-cnt {
    height:auto;
    line-height:2;
    font-size:14px;
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: #eee;
    padding:15px 0 0;
}

.post .entry-cnt p {
    line-height:2;
    font-size:14px;    
}

.related {
    padding:10px 5px 10px 5px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    margin: 20px auto 10px auto;
}

.r-left {
    float:left;
}

.r-right {
    float:right;
}

/*-- discuss --*/
.discuss {
    padding:25px;
}